html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


.test {
  height: 50px;
  width: 50px;
  background-color: purple;
}

.win {
  text-align: center;
  font-size: 42px;
  color: red;
  font-weight: 900;
  list-style:none;
}
